@font-face {
	font-family: 'Open Sans';
	src: url('#{$font-path}/opensans-400.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$font-path}/opensans-600.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$font-path}/opensans-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}